<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hostString</key>
	<string>UAT</string>
	<key>DYT_ProductVersion</key>
	<string>1</string>
	<key>debugMode</key>
	<false/>
	<key>isSecretAPI</key>
	<true/>
	<key>environments</key>
	<dict>
		<key>PRO</key>
		<dict>
			<key>H5WXURL</key>
			<string>https://wx.daoyitong.com</string>
			<key>reportURL</key>
			<string>https://report.health.ikang.com</string>
			<key>TIMSDK_APPID</key>
			<string>1400088467</string>
			<key>MallHost</key>
			<string>https://mall.daoyitong.com</string>
			<key>AccompanyPAYURL</key>
			<string>http://paynew.ikang.com</string>
			<key>PAYURL</key>
			<string>http://paynew.ikang.com/payment-web/api/v1</string>
			<key>H5URL</key>
			<string>http://im-open.ikang.com</string>
			<key>HOSTURL</key>
			<string>https://api.daoyitong.com</string>
			<key>payAppCode</key>
			<string>dyt2</string>
		</dict>
		<key>UAT</key>
		<dict>
			<key>H5WXURL</key>
			<string>https://uat.wx.daoyitong.com</string>
			<key>reportURL</key>
			<string>https://uat-report.health.ikang.com</string>
			<key>TIMSDK_APPID</key>
			<string>1400398275</string>
			<key>MallHost</key>
			<string>http://uat-mall.daoyitong.com</string>
			<key>AccompanyPAYURL</key>
			<string>https://newuat-paynew.health.ikang.com</string>
			<key>PAYURL</key>
			<string>https://newuat-paynew.health.ikang.com/payment-web/api/v1</string>
			<key>H5URL</key>
			<string>http://uat.im-open.ikang.com</string>
			<key>HOSTURL</key>
			<string>https://api-uat.daoyitong.com</string>
			<key>payAppCode</key>
			<string>dyt2</string>
		</dict>
		<key>DEV</key>
		<dict>
			<key>reportURL</key>
			<string>https://uat-report.health.ikang.com</string>
			<key>TIMSDK_APPID</key>
			<string>1400131177</string>
			<key>MallHost</key>
			<string>http://dev.daoyitong.com</string>
			<key>AccompanyPAYURL</key>
			<string>http://192.168.99.152:8080</string>
			<key>PAYURL</key>
			<string>https://newuat-paynew.health.ikang.com/payment-web/api/v1</string>
			<key>H5URL</key>
			<string>http://uat.im-open.ikang.com</string>
			<key>HOSTURL</key>
			<string>http://api-dev.daoyitong.com</string>
			<key>payAppCode</key>
			<string>dyt</string>
		</dict>
		<key>TEST</key>
		<dict>
			<key>reportURL</key>
			<string>https://uat-report.health.ikang.com</string>
			<key>TIMSDK_APPID</key>
			<string>1400098160</string>
			<key>MallHost</key>
			<string>http://test-mall.daoyitong.com</string>
			<key>AccompanyPAYURL</key>
			<string>http://192.168.99.152:8080</string>
			<key>PAYURL</key>
			<string>https://newuat-paynew.health.ikang.com/payment-web/api/v1</string>
			<key>H5URL</key>
			<string>http://uat.im-open.ikang.com</string>
			<key>HOSTURL</key>
			<string>http://api-test.daoyitong.com</string>
			<key>payAppCode</key>
			<string>dyt</string>
		</dict>
	</dict>
	<key>testJson</key>
	<string></string>
</dict>
</plist>
